{
    "openapi": "3.1.0",
    "info": {
        "title": "Telegram Bot API",
        "version": "10.3",
        "summary": "Bot API 10.3 (August 24, 2026)",
        "description": "The HTTP interface for Telegram bots.\n\nThis document is generated by TelegramPHP from the machine-readable spec at\nhttps://github.com/PaulSonOfLars/telegram-bot-api-spec, which is scraped from\nhttps://core.telegram.org/bots/api. Do not edit it by hand - run `composer spec:build`.",
        "termsOfService": "https://telegram.org/tos",
        "license": {
            "name": "MIT",
            "identifier": "MIT"
        }
    },
    "externalDocs": {
        "description": "Telegram Bot API reference",
        "url": "https://core.telegram.org/bots/api"
    },
    "servers": [
        {
            "url": "https://api.telegram.org/bot{token}",
            "description": "Telegram Bot API server. Self-hosted servers expose the same paths.",
            "variables": {
                "token": {
                    "default": "TOKEN",
                    "description": "The bot token issued by @BotFather."
                }
            }
        }
    ],
    "security": [
        {
            "botToken": []
        }
    ],
    "x-bot-api-version": "Bot API 10.3",
    "x-bot-api-release-date": "August 24, 2026",
    "paths": {
        "/addStickerToSet": {
            "post": {
                "operationId": "addStickerToSet",
                "summary": "Use this method to add a new sticker to a set created by the bot. Emoji sticker sets can have up to 200 stickers. Other sticker sets can have up to 120 stickers. Returns True on success.",
                "description": "Use this method to add a new sticker to a set created by the bot. Emoji sticker sets can have up to 200 stickers. Other sticker sets can have up to 120 stickers. Returns True on success.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#addstickertoset"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "User identifier of sticker set owner"
                                    },
                                    "name": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Sticker set name"
                                    },
                                    "sticker": {
                                        "$ref": "#/components/schemas/InputSticker",
                                        "x-telegram-types": [
                                            "InputSticker"
                                        ],
                                        "description": "A JSON-serialized object with information about the added sticker. If exactly the same sticker had already been added to the set, then the set isn't changed."
                                    }
                                },
                                "required": [
                                    "user_id",
                                    "name",
                                    "sticker"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/answerCallbackQuery": {
            "post": {
                "operationId": "answerCallbackQuery",
                "summary": "Use this method to send answers to callback queries sent from inline keyboards. The answer will be displayed to the user as a notification at the top of the chat screen or as an alert. On success, True is returned.",
                "description": "Use this method to send answers to callback queries sent from inline keyboards. The answer will be displayed to the user as a notification at the top of the chat screen or as an alert. On success, True is returned.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#answercallbackquery"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "callback_query_id": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Unique identifier for the query to be answered"
                                    },
                                    "text": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Text of the notification. If not specified, nothing will be shown to the user, 0-200 characters."
                                    },
                                    "show_alert": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "If True, an alert will be shown by the client instead of a notification at the top of the chat screen. Defaults to False."
                                    },
                                    "url": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "URL that will be opened by the user's client. If you have created a Game and accepted the conditions via @BotFather, specify the URL that opens your game - note that this will only work if the query comes from a callback_game button. Otherwise, you may use links like t.me/your_bot?start=XXXX that open your bot with a parameter."
                                    },
                                    "cache_time": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "The maximum amount of time in seconds that the result of the callback query may be cached client-side. Defaults to 0."
                                    }
                                },
                                "required": [
                                    "callback_query_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/answerChatJoinRequestQuery": {
            "post": {
                "operationId": "answerChatJoinRequestQuery",
                "summary": "Use this method to process a received chat join request query. Returns True on success.",
                "description": "Use this method to process a received chat join request query. Returns True on success.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#answerchatjoinrequestquery"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_join_request_query_id": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Unique identifier of the join request query"
                                    },
                                    "result": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Result of the query. Must be either \"approve\" to allow the user to join the chat, \"decline\" to disallow the user to join the chat, or \"queue\" to leave the decision to other administrators."
                                    }
                                },
                                "required": [
                                    "chat_join_request_query_id",
                                    "result"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/answerGuestQuery": {
            "post": {
                "operationId": "answerGuestQuery",
                "summary": "Use this method to reply to a received guest message. On success, a SentGuestMessage object is returned.",
                "description": "Use this method to reply to a received guest message. On success, a SentGuestMessage object is returned.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#answerguestquery"
                },
                "x-telegram-returns": [
                    "SentGuestMessage"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries SentGuestMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/SentGuestMessage"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "guest_query_id": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Unique identifier for the query to be answered"
                                    },
                                    "result": {
                                        "$ref": "#/components/schemas/InlineQueryResult",
                                        "x-telegram-types": [
                                            "InlineQueryResult"
                                        ],
                                        "description": "A JSON-serialized object describing the message to be sent"
                                    }
                                },
                                "required": [
                                    "guest_query_id",
                                    "result"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/answerInlineQuery": {
            "post": {
                "operationId": "answerInlineQuery",
                "summary": "Use this method to send answers to an inline query. On success, True is returned.",
                "description": "Use this method to send answers to an inline query. On success, True is returned.\nNo more than 50 results per query are allowed.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#answerinlinequery"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "inline_query_id": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Unique identifier for the answered query"
                                    },
                                    "results": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/InlineQueryResult"
                                        },
                                        "x-telegram-types": [
                                            "Array of InlineQueryResult"
                                        ],
                                        "description": "A JSON-serialized Array of results for the inline query"
                                    },
                                    "cache_time": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "The maximum amount of time in seconds that the result of the inline query may be cached on the server. Defaults to 300."
                                    },
                                    "is_personal": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Pass True if results may be cached on the server side only for the user that sent the query. By default, results may be returned to any user who sends the same query."
                                    },
                                    "next_offset": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Pass the offset that a client should send in the next query with the same text to receive more results. Pass an empty string if there are no more results or if you don't support pagination. Offset length can't exceed 64 bytes."
                                    },
                                    "button": {
                                        "$ref": "#/components/schemas/InlineQueryResultsButton",
                                        "x-telegram-types": [
                                            "InlineQueryResultsButton"
                                        ],
                                        "description": "A JSON-serialized object describing a button to be shown above inline query results"
                                    }
                                },
                                "required": [
                                    "inline_query_id",
                                    "results"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/answerPreCheckoutQuery": {
            "post": {
                "operationId": "answerPreCheckoutQuery",
                "summary": "Once the user has confirmed their payment and shipping details, the Bot API sends the final confirmation in the form of an Update with the field pre_checkout_query. Use this method to respond to such pre-checkout queries. On success, True is returned. Note: The Bot API must receive an answer within 10 seconds after the pre-checkout query was sent.",
                "description": "Once the user has confirmed their payment and shipping details, the Bot API sends the final confirmation in the form of an Update with the field pre_checkout_query. Use this method to respond to such pre-checkout queries. On success, True is returned. Note: The Bot API must receive an answer within 10 seconds after the pre-checkout query was sent.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#answerprecheckoutquery"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "pre_checkout_query_id": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Unique identifier for the query to be answered"
                                    },
                                    "ok": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Specify True if everything is alright (goods are available, etc.) and the bot is ready to proceed with the order. Use False if there are any problems."
                                    },
                                    "error_message": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Required if ok is False. Error message in human readable form that explains the reason for failure to proceed with the checkout (e.g. \"Sorry, somebody just bought the last of our amazing black T-shirts while you were busy filling out your payment details. Please choose a different color or garment!\"). Telegram will display this message to the user."
                                    }
                                },
                                "required": [
                                    "pre_checkout_query_id",
                                    "ok"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/answerShippingQuery": {
            "post": {
                "operationId": "answerShippingQuery",
                "summary": "If you sent an invoice requesting a shipping address and the parameter is_flexible was specified, the Bot API will send an Update with a shipping_query field to the bot. Use this method to reply to shipping queries. On success, True is returned.",
                "description": "If you sent an invoice requesting a shipping address and the parameter is_flexible was specified, the Bot API will send an Update with a shipping_query field to the bot. Use this method to reply to shipping queries. On success, True is returned.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#answershippingquery"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "shipping_query_id": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Unique identifier for the query to be answered"
                                    },
                                    "ok": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Pass True if delivery to the specified address is possible and False if there are any problems (for example, if delivery to the specified address is not possible)"
                                    },
                                    "shipping_options": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/ShippingOption"
                                        },
                                        "x-telegram-types": [
                                            "Array of ShippingOption"
                                        ],
                                        "description": "Required if ok is True. A JSON-serialized Array of available shipping options."
                                    },
                                    "error_message": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Required if ok is False. Error message in human readable form that explains why it is impossible to complete the order (e.g. \"Sorry, delivery to your desired address is unavailable\"). Telegram will display this message to the user."
                                    }
                                },
                                "required": [
                                    "shipping_query_id",
                                    "ok"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/answerWebAppQuery": {
            "post": {
                "operationId": "answerWebAppQuery",
                "summary": "Use this method to set the result of an interaction with a Web App and send a corresponding message on behalf of the user to the chat from which the query originated. On success, a SentWebAppMessage object is returned.",
                "description": "Use this method to set the result of an interaction with a Web App and send a corresponding message on behalf of the user to the chat from which the query originated. On success, a SentWebAppMessage object is returned.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#answerwebappquery"
                },
                "x-telegram-returns": [
                    "SentWebAppMessage"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries SentWebAppMessage.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/SentWebAppMessage"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "web_app_query_id": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Unique identifier for the query to be answered"
                                    },
                                    "result": {
                                        "$ref": "#/components/schemas/InlineQueryResult",
                                        "x-telegram-types": [
                                            "InlineQueryResult"
                                        ],
                                        "description": "A JSON-serialized object describing the message to be sent"
                                    }
                                },
                                "required": [
                                    "web_app_query_id",
                                    "result"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/approveChatJoinRequest": {
            "post": {
                "operationId": "approveChatJoinRequest",
                "summary": "Use this method to approve a chat join request. The bot must be an administrator in the chat for this to work and must have the can_invite_users administrator right. Returns True on success.",
                "description": "Use this method to approve a chat join request. The bot must be an administrator in the chat for this to work and must have the can_invite_users administrator right. Returns True on success.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#approvechatjoinrequest"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "Integer",
                                            "String"
                                        ],
                                        "description": "Unique identifier for the target chat or username of the target channel in the format @username"
                                    },
                                    "user_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Unique identifier of the target user"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "user_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/approveSuggestedPost": {
            "post": {
                "operationId": "approveSuggestedPost",
                "summary": "Use this method to approve a suggested post in a direct messages chat. The bot must have the 'can_post_messages' administrator right in the corresponding channel chat. Returns True on success.",
                "description": "Use this method to approve a suggested post in a direct messages chat. The bot must have the 'can_post_messages' administrator right in the corresponding channel chat. Returns True on success.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#approvesuggestedpost"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Unique identifier for the target direct messages chat"
                                    },
                                    "message_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Identifier of a suggested post message to approve"
                                    },
                                    "send_date": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Point in time (Unix timestamp) when the post is expected to be published; omit if the date has already been specified when the suggested post was created. If specified, then the date must be not more than 2678400 seconds (30 days) in the future."
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "message_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/banChatMember": {
            "post": {
                "operationId": "banChatMember",
                "summary": "Use this method to ban a user in a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the chat on their own using invite links, etc., unless unbanned first. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns True on success.",
                "description": "Use this method to ban a user in a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the chat on their own using invite links, etc., unless unbanned first. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns True on success.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#banchatmember"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "Integer",
                                            "String"
                                        ],
                                        "description": "Unique identifier for the target group or username of the target supergroup or channel in the format @username"
                                    },
                                    "user_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Unique identifier of the target user"
                                    },
                                    "until_date": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Date when the user will be unbanned; Unix time. If user is banned for more than 366 days or less than 30 seconds from the current time they are considered to be banned forever. Applied for supergroups and channels only."
                                    },
                                    "revoke_messages": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Pass True to delete all messages from the chat for the user that is being removed. If False, the user will be able to see messages in the group that were sent before the user was removed. Always True for supergroups and channels."
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "user_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/banChatSenderChat": {
            "post": {
                "operationId": "banChatSenderChat",
                "summary": "Use this method to ban a channel chat in a supergroup or a channel. Until the chat is unbanned, the owner of the banned chat won't be able to send messages on behalf of any of their channels. The bot must be an administrator in the supergroup or channel for this to work and must have the appropriate administrator rights. Returns True on success.",
                "description": "Use this method to ban a channel chat in a supergroup or a channel. Until the chat is unbanned, the owner of the banned chat won't be able to send messages on behalf of any of their channels. The bot must be an administrator in the supergroup or channel for this to work and must have the appropriate administrator rights. Returns True on success.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#banchatsenderchat"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "Integer",
                                            "String"
                                        ],
                                        "description": "Unique identifier for the target chat or username of the target channel in the format @username"
                                    },
                                    "sender_chat_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Unique identifier of the target sender chat"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "sender_chat_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/close": {
            "post": {
                "operationId": "close",
                "summary": "Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns True on success. Requires no parameters.",
                "description": "Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns True on success. Requires no parameters.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#close"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                }
            }
        },
        "/closeForumTopic": {
            "post": {
                "operationId": "closeForumTopic",
                "summary": "Use this method to close an open topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights, unless it is the creator of the topic. Returns True on success.",
                "description": "Use this method to close an open topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights, unless it is the creator of the topic. Returns True on success.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#closeforumtopic"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "Integer",
                                            "String"
                                        ],
                                        "description": "Unique identifier for the target chat or username of the target supergroup in the format @username"
                                    },
                                    "message_thread_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Unique identifier for the target message thread of the forum topic"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "message_thread_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/closeGeneralForumTopic": {
            "post": {
                "operationId": "closeGeneralForumTopic",
                "summary": "Use this method to close an open 'General' topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights. Returns True on success.",
                "description": "Use this method to close an open 'General' topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights. Returns True on success.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#closegeneralforumtopic"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "Integer",
                                            "String"
                                        ],
                                        "description": "Unique identifier for the target chat or username of the target supergroup in the format @username"
                                    }
                                },
                                "required": [
                                    "chat_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/convertGiftToStars": {
            "post": {
                "operationId": "convertGiftToStars",
                "summary": "Converts a given regular gift to Telegram Stars. Requires the can_convert_gifts_to_stars business bot right. Returns True on success.",
                "description": "Converts a given regular gift to Telegram Stars. Requires the can_convert_gifts_to_stars business bot right. Returns True on success.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#convertgifttostars"
                },
                "x-telegram-returns": [
                    "Boolean"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Boolean.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "business_connection_id": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Unique identifier of the business connection"
                                    },
                                    "owned_gift_id": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Unique identifier of the regular gift that should be converted to Telegram Stars"
                                    }
                                },
                                "required": [
                                    "business_connection_id",
                                    "owned_gift_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/copyMessage": {
            "post": {
                "operationId": "copyMessage",
                "summary": "Use this method to copy messages of any kind. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_ids is known to the bot. The method is analogous to the method forwardMessage, but the copied message doesn't have a link to the original message. Returns the MessageId of the sent message on success.",
                "description": "Use this method to copy messages of any kind. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_ids is known to the bot. The method is analogous to the method forwardMessage, but the copied message doesn't have a link to the original message. Returns the MessageId of the sent message on success.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#copymessage"
                },
                "x-telegram-returns": [
                    "MessageId"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries MessageId.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/MessageId"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "Integer",
                                            "String"
                                        ],
                                        "description": "Unique identifier for the target chat or username of the target bot, supergroup or channel in the format @username"
                                    },
                                    "message_thread_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Unique identifier for the target message thread (topic) of a forum; for forum supergroups and private chats of bots with forum topic mode enabled only"
                                    },
                                    "direct_messages_topic_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                                    },
                                    "from_chat_id": {
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "Integer",
                                            "String"
                                        ],
                                        "description": "Unique identifier for the chat where the original message was sent (or username of the target bot, supergroup or channel in the format @username)"
                                    },
                                    "message_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Message identifier in the chat specified in from_chat_id"
                                    },
                                    "video_start_timestamp": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "New start timestamp for the copied video in the message"
                                    },
                                    "caption": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "New caption for media, 0-1024 characters after entities parsing. If not specified, the original caption is kept."
                                    },
                                    "parse_mode": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Mode for parsing entities in the new caption. See formatting options for more details."
                                    },
                                    "caption_entities": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/MessageEntity"
                                        },
                                        "x-telegram-types": [
                                            "Array of MessageEntity"
                                        ],
                                        "description": "A JSON-serialized list of special entities that appear in the new caption, which can be specified instead of parse_mode"
                                    },
                                    "show_caption_above_media": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Pass True if the caption must be shown above the message media. Ignored if a new caption isn't specified."
                                    },
                                    "disable_notification": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Sends the message silently. Users will receive a notification with no sound."
                                    },
                                    "protect_content": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Protects the contents of the sent message from forwarding and saving"
                                    },
                                    "allow_paid_broadcast": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance."
                                    },
                                    "message_effect_id": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Unique identifier of the message effect to be added to the message; only available when copying to private chats"
                                    },
                                    "suggested_post_parameters": {
                                        "$ref": "#/components/schemas/SuggestedPostParameters",
                                        "x-telegram-types": [
                                            "SuggestedPostParameters"
                                        ],
                                        "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                                    },
                                    "reply_parameters": {
                                        "$ref": "#/components/schemas/ReplyParameters",
                                        "x-telegram-types": [
                                            "ReplyParameters"
                                        ],
                                        "description": "Description of the message to reply to"
                                    },
                                    "reply_markup": {
                                        "anyOf": [
                                            {
                                                "$ref": "#/components/schemas/InlineKeyboardMarkup"
                                            },
                                            {
                                                "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                                            },
                                            {
                                                "$ref": "#/components/schemas/ReplyKeyboardRemove"
                                            },
                                            {
                                                "$ref": "#/components/schemas/ForceReply"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "InlineKeyboardMarkup",
                                            "ReplyKeyboardMarkup",
                                            "ReplyKeyboardRemove",
                                            "ForceReply"
                                        ],
                                        "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user."
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "from_chat_id",
                                    "message_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/copyMessages": {
            "post": {
                "operationId": "copyMessages",
                "summary": "Use this method to copy messages of any kind. If some of the specified messages can't be found or copied, they are skipped. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_ids is known to the bot. The method is analogous to the method forwardMessages, but the copied messages don't have a link to the original message. Album grouping is kept for copied messages. On success, an Array of MessageId of the sent messages is returned.",
                "description": "Use this method to copy messages of any kind. If some of the specified messages can't be found or copied, they are skipped. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_ids is known to the bot. The method is analogous to the method forwardMessages, but the copied messages don't have a link to the original message. Album grouping is kept for copied messages. On success, an Array of MessageId of the sent messages is returned.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#copymessages"
                },
                "x-telegram-returns": [
                    "Array of MessageId"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries Array of MessageId.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MessageId"
                                            }
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "Integer",
                                            "String"
                                        ],
                                        "description": "Unique identifier for the target chat or username of the target bot, supergroup or channel in the format @username"
                                    },
                                    "message_thread_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Unique identifier for the target message thread (topic) of a forum; for forum supergroups and private chats of bots with forum topic mode enabled only"
                                    },
                                    "direct_messages_topic_id": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Identifier of the direct messages topic to which the messages will be sent; required if the messages are sent to a direct messages chat"
                                    },
                                    "from_chat_id": {
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "Integer",
                                            "String"
                                        ],
                                        "description": "Unique identifier for the chat where the original messages were sent (or username of the target bot, supergroup or channel in the format @username)"
                                    },
                                    "message_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "x-telegram-types": [
                                            "Array of Integer"
                                        ],
                                        "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat from_chat_id to copy. The identifiers must be specified in a strictly increasing order."
                                    },
                                    "disable_notification": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Sends the messages silently. Users will receive a notification with no sound."
                                    },
                                    "protect_content": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Protects the contents of the sent messages from forwarding and saving"
                                    },
                                    "remove_caption": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "Pass True to copy the messages without their captions"
                                    }
                                },
                                "required": [
                                    "chat_id",
                                    "from_chat_id",
                                    "message_ids"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/createChatInviteLink": {
            "post": {
                "operationId": "createChatInviteLink",
                "summary": "Use this method to create an additional invite link for a chat. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. The link can be revoked using the method revokeChatInviteLink. Returns the new invite link as ChatInviteLink object.",
                "description": "Use this method to create an additional invite link for a chat. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. The link can be revoked using the method revokeChatInviteLink. Returns the new invite link as ChatInviteLink object.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#createchatinvitelink"
                },
                "x-telegram-returns": [
                    "ChatInviteLink"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries ChatInviteLink.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ChatInviteLink"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chat_id": {
                                        "anyOf": [
                                            {
                                                "type": "integer"
                                            },
                                            {
                                                "type": "string"
                                            }
                                        ],
                                        "x-telegram-types": [
                                            "Integer",
                                            "String"
                                        ],
                                        "description": "Unique identifier for the target chat or username of the target channel in the format @username"
                                    },
                                    "name": {
                                        "type": "string",
                                        "x-telegram-types": [
                                            "String"
                                        ],
                                        "description": "Invite link name; 0-32 characters"
                                    },
                                    "expire_date": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "Point in time (Unix timestamp) when the link will expire"
                                    },
                                    "member_limit": {
                                        "type": "integer",
                                        "x-telegram-types": [
                                            "Integer"
                                        ],
                                        "description": "The maximum number of users that can be members of the chat simultaneously after joining the chat via this invite link; 1-99999"
                                    },
                                    "creates_join_request": {
                                        "type": "boolean",
                                        "x-telegram-types": [
                                            "Boolean"
                                        ],
                                        "description": "True, if users joining the chat via the link need to be approved by chat administrators. If True, member_limit can't be specified."
                                    }
                                },
                                "required": [
                                    "chat_id"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/createChatSubscriptionInviteLink": {
            "post": {
                "operationId": "createChatSubscriptionInviteLink",
                "summary": "Use this method to create a subscription invite link for a channel chat. The bot must have the can_invite_users administrator rights. The link can be edited using the method editChatSubscriptionInviteLink or revoked using the method revokeChatInviteLink. Returns the new invite link as a ChatInviteLink object.",
                "description": "Use this method to create a subscription invite link for a channel chat. The bot must have the can_invite_users administrator rights. The link can be edited using the method editChatSubscriptionInviteLink or revoked using the method revokeChatInviteLink. Returns the new invite link as a ChatInviteLink object.",
                "externalDocs": {
                    "url": "https://core.telegram.org/bots/api#createchatsubscriptioninvitelink"
                },
                "x-telegram-returns": [
                    "ChatInviteLink"
                ],
                "responses": {
                    "200": {
                        "description": "Successful call; `result` carries ChatInviteLink.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ok",
                                        "result"
                                    ],
                                    "properties": {
                                        "ok": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ChatInviteLink"
                                        },
                                        "description": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "requestBody": {
[...]
